.modalContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: white;
  margin: auto;
  max-width: 500px;
  top: 50%;
  transform: translateY(-75%);

  padding: 1rem;
  border-radius: 12px;
}

.formBox {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 10px;
}

.confirmButton {
  align-self: flex-end;
}