.routeBox {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  
  margin-bottom: 1.5rem;
}

.leftHeader:hover {
  cursor: default !important;
  text-decoration: none !important;
}

.rightHeader {
  display: flex;
  gap: 8px;
  align-items: center;
}

.editIcon {
  font-size: 1.6rem;

  border-radius: 20px;
  padding: 1px;
}

.editIcon:hover {
  background-color: #e9ecef;
  cursor: pointer;
}

.deleteIcon {
  color: #f03e3f;
  font-size: 2rem;

  border-radius: 20px;
  padding: 1px;
}

.deleteIcon:hover {
  background-color: #ffe3e3;
  cursor: pointer;
}